<%= turbo_frame_tag dom_id(shape), class: 'ps-4' do %>
  <div class="d-inline-block py-2">
    <%= shape.name %>
    <%= shape.customize? ? tag.span('Custom Text', class: 'custom') : '' %>
  </div>
  <div class="d-inline-block float-end">
    <%= link_to 'Edit', edit_admin_shape_path(shape), class: 'btn btn-outline-secondary' %>
    <%= button_to "Delete", admin_shape_path(shape), method: :delete, form_class: 'd-inline', class: 'btn btn-secondary', form: { data: { turbo_confirm: "Are you sure?" } } %>
  </div>
<%- end -%>
