<% content_for :title, "Shapes" %>

<h1>Shapes</h1>

<ul data-controller="sortable" class="list-group my-3" id="shapes">
  <%- @shapes.each do |shape| -%>
  <%= tag.li 'data-sortable-url': sort_admin_shape_path(shape), class: 'list-group-item', id: dom_id(shape, 'list-item') do %>
  <%= render shape %>
  <%- end -%>
  <%- end -%>
  <%= tag.li class: 'list-group-item', id: 'new_shape_item' do %>
  <%= turbo_frame_tag 'new_shape' %>
  <%- end -%>
</ul>

<%= link_to "New shape", new_admin_shape_path, data: { turbo_frame: 'new_shape' }, class: 'btn btn-success' %>
