<div class="list-group-item">
  <%= order.updated_at.to_fs(:long) %>
  <%= order.person.name %>
  <%= link_to order.description, admin_order_path(order) %>
  <span class="d-inline-block float-end">
    <%= link_to 'Edit', edit_admin_order_path(order), class: 'btn btn-outline-secondary' %>
    <%= button_to "Delete", admin_order_path(order), method: :delete, form_class: 'd-inline', class: 'btn btn-secondary', form: { data: { turbo_confirm: "Are you sure?" } } %>
  </span>
</div>
