<div class="card mb-3">
  <div class="card-body">
    <div class="row">
      <div class="col-md-6">
        <%= render @order.person %>
      </div>
      <div class="col-md-6">
        <p><%= @order.created_at.strftime('%d %b %Y %l:%M %p') %></p>
        <p>Subtotal: <%= humanized_money_with_symbol(@order.subtotal) %></p>
        <p>Deposit: (<%= humanized_money_with_symbol(@order.paid) %>)</p>
        <p>Due: <%= humanized_money_with_symbol(@order.due) %></p>
      </div>
    </div>
  </div>
</div>

<div class="list-group mb-3">
  <%= render @order.custom_products %>
</div>

<div class="btn-group">
  <%= link_to 'Edit', edit_admin_order_path(@order), class: 'btn btn-outline-secondary' %>
  <%= button_to "Delete", admin_order_path(@order), method: :delete, form_class: 'd-inline', class: 'btn btn-secondary', form: { data: { turbo_confirm: "Are you sure?" } } %>
  <%= link_to 'Back to list', admin_orders_path, class: 'btn btn-outline-secondary' %>
</div>
