<%= bootstrap_form_with model: @order, class: 'row', data: { controller: 'nested-form subtotal' } do |form| %>
<%= form.alert_message "Please fix the errors below." %>
<%= form.fields_for :person do |pf| %>
  <%= pf.text_area :name, rows: 1, wrapper_class: 'col-md-6 mb-3', autofocus: true, **no_auto %>
  <%= pf.text_area :email, rows: 1, wrapper_class: 'col-md-6 mb-3', **no_auto %>
  <div class="col-md-6 mb-3">
    <%= pf.check_box :pickup, data: { controller: 'hide-dependent', action: 'hide-dependent#visibility', 'hide-dependent-target-value': '.address-box', 'hide-dependent-condition-value': ':checked' } %>
  </div>
  <%= pf.text_area :phone, rows: 1, wrapper_class: 'col-md-6 mb-3', **no_auto %>

  <%= pf.text_area :address, rows: 5, wrapper_class: 'address-box mb-3', **no_auto %>
<%- end -%>
<h2 class="my-3">Products</h2>
<template data-nested-form-target="template">
  <%= form.fields_for :custom_products, Order.new.custom_products.build, child_index: 'TEMPLATE_RECORD' do |f| %>
  <div class="col-md-12 nested-fields" data-controller="custom">
    <button type="button" id="TEMPLATE_RECORD" class="btn-close float-end" data-dismiss="modal" aria-label="Close"
      data-action="click->nested-form#remove_association">
    </button>
  <%= f.hidden_field :_destroy %>
    <div class="row" data-controller="price">
      <%= f.number_field :quantity, step: 1, wrapper_class: 'col-md-2 mb-3', data: { action: 'price#update', 'price-target': 'quantity' }, **no_auto %>
      <%= f.collection_select :color_id, Color.order(:position).all, :id, :name, prompt: true, wrapper_class: 'col-md-4 mb-3' %>
      <%= f.collection_select :shape_id, Shape.order(:position).all, :id, :name, { prompt: true, wrapper_class: 'col-md-4 mb-3' }, data: { action: 'custom#customize price#update', 'price-target': 'shape' } %>
      <div class="col-md-2 align-self-end mb-4 text-end" data-price-target="output" data-subtotal-target="line" data-extended="0">extended price here</div>
    </div>
    <div data-custom-target="field">
      <%= f.text_field :custom_text, **no_auto %>
    </div>
  </div>
  <%- end -%>
</template>
<%= form.fields_for :custom_products do |f| %>
<div class="col-md-12 nested-fields" data-controller="custom">
  <button type="button" class="btn-close float-end" aria-label="Close"
    data-action="click->nested-form#remove_association">
  </button>
  <%= f.hidden_field :_destroy %>
  <div class="row" data-controller="price">
    <%= f.number_field :quantity, step: 1, wrapper_class: 'col-md-2 mb-3', data: { action: 'price#update', 'price-target': 'quantity' }, **no_auto %>
    <%= f.collection_select :color_id, Color.order(:position).all, :id, :name, prompt: true, wrapper_class: 'col-md-4 mb-3' %>
    <%= f.collection_select :shape_id, Shape.order(:position).all, :id, :name, { prompt: true, wrapper_class: 'col-md-4 mb-3' }, data: { action: 'custom#customize price#update', 'price-target': 'shape' } %>
    <div class="col-md-2 align-self-end mb-4 text-end" data-price-target="output" data-subtotal-target="line" data-extended="0">extended price here</div>
  </div>
  <div data-custom-target="field">
    <%= f.text_field :custom_text, **no_auto %>
  </div>
</div>
<%- end -%>
<div class="col-md-12 my-3" data-nested-form-target="add_item">
  <%= button_tag 'Add a Product', type: 'button', class: 'btn btn-secondary', data: { action: "nested-form#add_association" } %>
</div>
<div class="position-sticky bottom-0 start-0 floating-toolbar">
  <div class="row">
    <div class="border-top py-3 my-3 text-end">
      <span class="d-inline-block me-4" data-subtotal-target="footer"></span>
      <%= link_to 'Cancel', root_path, class: 'btn btn-outline-secondary' %>
      <%= form.primary %>
    </div>
  </div>
</div>
<%- end -%>
