<p><strong><%= person.name %></strong></p>
<p><%= mail_to(person.email) %></p>
<p><%= phone_to(person.phone.remove(/[^\d]/), phone(person.phone)) %></p>
<%= tag.p 'Pickup' if person.pickup? %>
<%= simple_format person.address unless person.pickup? %>
