<!DOCTYPE html>
<html class="h-100">
  <head>
    <title><%= content_for(:title) || "Custom Orders" %></title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= yield :head %>

    <%# Enable PWA manifest for installable apps (make sure to enable in config/routes.rb too!) %>
    <%#= tag.link rel: "manifest", href: pwa_manifest_path(format: :json) %>

    <link rel="icon" href="/icon.png" type="image/png">
    <link rel="icon" href="/icon.svg" type="image/svg+xml">
    <link rel="apple-touch-icon" href="/icon.png">

    <%# Includes all stylesheet files in app/assets/stylesheets %>
    <%= stylesheet_link_tag :app, "data-turbo-track": "reload" %>
    <%= javascript_include_tag "application", "data-turbo-track": "reload", type: "module" %>
    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
  </head>

  <body class="d-flex flex-column h-100">
    <nav class="navbar navbar-expand-md bg-body-tertiary flex-shrink-0">
      <div class="container">
        <a class="navbar-brand" href="/"><%= image_tag('logo.svg', class: 'brand-logo') %> Caitlin Davis Ceramics</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <%- if controller_path.include? 'admin/' -%>
          <%= link_to 'Colors', admin_colors_path, class: "btn #{controller_path.match?(/\/color/) ? 'btn-secondary' : 'btn-outline-secondary'} mx-2" %>
          <%= link_to 'Shapes', admin_shapes_path, class: "btn #{controller_path.match?(/\/shape/) ? 'btn-secondary' : 'btn-outline-secondary'} mx-2" %>
          <%- end -%>
          <%= link_to 'New Order', new_order_path, class: 'btn btn-secondary ms-auto' %>
        </div>
      </div>
    </nav>
    <main class="container">
      <div id="flash_messages"><%= bootstrap_flash_messages :close, :html %></div>
      <%= yield %>
    </main>
    <footer class="container mt-auto">
      <p>© 2025 Caitlin Davis Ceramics</p>
    </footer>
  </body>
</html>
